@import "~bootstrap/scss/bootstrap";

body {
    padding: 25px; 
    font-family:'Roboto', sans-serif;
    background-color: azure;
 }
 h1{
   font-family:'Times New Roman', Times, serif;
   color:darkcyan;
   font-size:xxxx-large;
 }
 
 th {
    padding-right: 15px;
 }
 td {
    padding-right: 15px;
 }
 tbody tr:nth-child(odd){
    background-color: #c3e5fd;
    color: #000;
  }
 
 .myborder {
    border: 3px solid darkcyan;
    // padding: 5px;
    border-radius: 4px;
    margin: 2px;
 }
 
//  .mycontainer {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//  }
 .mybutton {
    border: 1px solid blue;
    padding: 5px;
 }