/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@import "~bootstrap/scss/bootstrap"; */

body {
    padding: 25px; 
    font-family:'Roboto', sans-serif;
    background-color: azure;
 }
 h1{
   font-family:'Times New Roman', Times, serif;
   color:darkcyan;
   font-size:xxxx-large;
 }
 
 th {
    padding-right: 15px;
 }
 td {
    padding-right: 15px;
 }
 tbody tr:nth-child(odd){
    background-color: #c3e5fd;
    color: #000;
  }
 
 .myborder {
    border: 3px solid darkcyan;
    // padding: 5px;
    border-radius: 4px;
    margin: 2px;
 }
 
//  .mycontainer {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//  }
 .mybutton {
    border: 1px solid blue;
    padding: 5px;
 }